[core]
	excludesfile = /Users/pax/.gitignore_global
[user]
	name = R-Pax
    email = git@mac.hm

# better git commands 

[log]
    date = relative

[format]
    pretty = tformat:'%C("#af865a")%h%Creset %C(auto)%d%Creset %s %C("#84edb9")(%ae %ad)%Creset'


[status]
    short = true

[color]
    ui = true

[color "status"]
    header = "#c0b18b"
    localBranch = "#c0b18b"
    remoteBranch = "#d75f5f"
    added = "#c0b18b"
    changed = "#af865a"
    untracked = "#d75f5f"
    unmerged = "#d75f5f"

[color "branch"]
    current = "#c0b18b"
    local = "#af865a"
    remote = "#d75f5f"
    upstream = "#22c3a1"
    plain = "#c0b18b"

[color "diff"]
    meta = "#c0b18b"
    frag = "#84edb9"
    old = "#d75f5f"
    new = "#d4d232"

[color "push"]
    error = "#d75f5f"
